*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI';
    color: rgb(6, 255, 6);
    font-weight: normal;
    overflow: hidden;
}

.background-picture {
    position: absolute;
    right: 0;
    top: 5%;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

.abhay-info-title {
    color: whitesmoke;
    position: relative;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.joel-info-title {
    color: whitesmoke;
    position: relative;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.abhay-info {
  position: absolute;
  width: 40%;
  left: 3%;
  top: 23%;
  text-align:left;
}

.joel-info {
    position: absolute;
    width: 40%;
    left: 57%;
    top: 23%;
    text-align: right;
}

.ruben-info-title {
    color: whitesmoke;
    position: relative;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.ruben-info {
    position: absolute;
    width: 40%;
    left: 57%;
    top: 58%;
    text-align: right;
}

.ward-info-title {
    color: whitesmoke;
    position: relative;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.ward-info {
  position: absolute;
  width: 40%;
  left: 3%;
  top: 58%;
  text-align:left;
}