*{
  margin: 0;
  padding: 0;
  font-family: monospace;
  box-sizing: border-box;
  font-weight: 400;
}

::-webkit-scrollbar{
  display: none;
}

header{
  background-color: #232323;
  color: rgb(6, 255, 6);
  border-bottom: rgb(6, 255, 6) solid 0.15rem;
  width: 100vw;
  padding: 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;  
}

body{
  background-color: #232323;
}

.title{
  font-size: 2.5rem;
  margin-left: 1%;
  align-self: center;
}

.nav-container{
  display: flex;
  flex-flow: row nowrap;
  margin-right: 0.1rem;
}

.nav-boxes{
  font-size: 2rem;
  align-self: center;
  display: block;
  padding: 1rem 2.2rem;
}

.nav-boxes h4 a{
  color: rgb(6, 255, 6);
}

.nav-boxes:hover, .nav-boxes:hover h4 a{
  color: green;
}

#selected{
  text-underline-offset: 0.7rem;
  text-decoration: underline rgb(6, 255, 6) solid 0.15rem;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; } 

.list{
  min-height: 89vh;
  margin-top: 3vh;
  transform: translateX(-50%);
  left: 50%;
  width: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  font-family: 'Segoe UI'; 
}

.list-item h1{
  color: whitesmoke;
}

.list-item{
  background-color: #444242;
  border: black solid 0.3rem;
  border-radius: 0.625rem;
  width: inherit;
  padding-left: 2rem;
  padding-right: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.list-item div {
  color: whitesmoke;
  padding-left: 5rem;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.list-item p{
  padding-top: 0.5rem;
}

.list-item img {
  height: auto;
  width: 18vw;
  border-radius: 1rem;
}

.list-item a{
  margin: 0;
}

