*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
    font-weight: 400;
}

::-webkit-scrollbar{
    display: none;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; } 

header{
    background-color: #232323;
    color: rgb(6, 255, 6);
    border-bottom: rgb(6, 255, 6) solid 0.15rem;
    width: 100vw;
    padding: 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;  
}

body{
    background-color: #444242;
}

.title{
    font-size: 2.5rem;
    margin-left: 1%;
    align-self: center;
}

.nav-container{
    display: flex;
    flex-flow: row nowrap;
    margin-right: 0.1rem;
}

.nav-boxes{
    font-size: 2rem;
    align-self: center;
    display: block;
    padding: 1rem 2.2rem;
}

.nav-boxes h4 a{
    color: rgb(6, 255, 6);
}

.nav-boxes:hover, .nav-boxes:hover h4 a{
    color: green;
}

#selected{
    text-underline-offset: 0.7rem;
    text-decoration: underline rgb(6, 255, 6) solid 0.15rem;
}

.background{
    position: fixed;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -999;
    opacity: 0.7;
    filter: blur(15px);
}

.container{
    margin-top: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-self: center;  
    gap: 5vh;
}

.name-title {
    color: whitesmoke;
    position: relative;
    font-size: 3rem;
    text-align: center;
    width: 100%;
}

.text-info-odd{
    margin-left: 5rem;
    align-self: start;
    left: 0;

}

.text-info-even{
    margin-right: 5rem;
    align-self: end;
    right: 0;
}

.text-info-even h3, .text-info-odd h3{
    margin-top: 1rem;
    color: whitesmoke;
    width: 61.5rem;
}