*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Segoe UI';
  color: rgb(6, 255, 6);
  font-weight: normal;
}

body{
  background-color: #232323;
}

.text-title{
  padding: 3vh;
  text-align: center;
  text-decoration: underline;
}

.containers{
  align-self: center;
  display: grid;
  grid-template-columns: auto auto auto;
  
  padding: 1vh;
  margin-top: 2.5vh;
  margin-left: 1vh;
  margin-right: 1vh;

  column-gap: 2vh;
  row-gap: 2vh;
}

.boxes{
  background-image: linear-gradient(to left,#626262, #232323);
  border: 0.1mm solid rgb(6, 255, 6);
  padding: 5vh;
  font-size: 30px;
  text-align: center;
  transition: 1s ease-out;
}

.boxes:hover{
  opacity: 0.5;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; } 